/*univesal styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* header section */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-position: cover;
}

/* navigation links */
nav {
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    /*height: 100px;*/
    padding-top: 8%;
}

.nav-links {
    flex: 1; /* to occupy the whole space on the row */
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    /*color: #121258;*/ 
    /*color:  #000080;*/
    color: #051094;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight:600;
}

/* nav hover effect */
.nav-links ul li::after {
    content: "";
    /* width: 100%; */ 
    width: 0%; /*to hide the lines */
    height: 2px; 
    background-color: #f44336 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/*show lines on hover */
.nav-links ul li:hover::after {
    width: 100%;
}

/*text on header */
.header-text {
    width: 90%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); /* to center in the div */
    text-align: center;
    color: #9E0202;
    line-height: 52px;
    
}

.header-text h1 {
    font-size :2.50em;
    font-weight: 700;
}

.header-text p {
    margin: 10px 0 30px;
    font-size: 24px;
    line-height: 25px;
    
}

span {
    color: #121258 ;
    font-weight: 600;
}
/*header button */
.cta {
    padding : 15px 30px;
    background-color:#121258 ;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 1s;
    font-size: 18px;
}

.cta:hover {
    background-color: #0f52ba;
    color: #9E0202;
}